h1 {
  font-family: 'Geostar Fill', 'Arial', sans-serif;
  font-size: 2.5em;
}

button {
  height: 2em;
  border-radius: 3px;
  background-color: whitesmoke;
  font-size: 1em;
}

.newBox {
  height: 100px;
  width: 100px;
  background-color: blue;
  color: green;
  margin: 5px 5px;
}

.newBox p {
  display: inline-block;
  margin: auto auto;
  padding: 2px 2px;
  background-color: yellow;
  color: black;
  font-weight: bold;
  position: relative;
  width: 20px;
  text-align: center;
  border-radius: 20px;
  left: 40px;
  top: 40px;
}

#putBlocksHere div {
  display: inline-block;
}
